/*CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.filters {
  width: 100vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 0vw;
  padding-top: 40vh; }

.col {
  opacity: 0.8;
  background-color: white;
  height: 160px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0vw; }

.col-12 {
  opacity: 0.7;
  height: 160px;
  margin-left: 10vw; }

.col-sm-6 {
  background-color: white;
  height: 160px;
  margin-left: 10vw; }

.col-lg-8 {
  background-color: white;
  height: 160px;
  margin-left: 10vw; }

.col-6 {
  background-color: white;
  opacity: 0.7;
  height: 50px;
  margin-left: 10vw; }

.hero-img {
  background-image: url("../assets/landscape.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 60vh; }

.container h4 {
  padding-top: 0px;
  padding-bottom: 0px; }

.btn-default {
  margin-left: 80vw; }

#rooms {
  width: 160px;
  height: 25px;
  color: black; }

#adults {
  width: 160px;
  height: 25px;
  color: black; }

#children {
  width: 160px;
  height: 25px;
  color: black; }

#options {
  width: 160px;
  height: 25px;
  color: black; }

.list-price button {
  margin-top: 50px;
  float: right;
  width: 200px;
  height: 40px;
  background-color: #1e6fa8;
  color: white; }

.list-price button:hover {
  opacity: 0.6; }

.page-btns {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 50px;
  flex: 1; }

.page-btns a {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background-color: #1e6fa8;
  color: white;
  text-align: center;
  padding-top: 10px; }

.page-btns a:hover {
  opacity: 0.6; }

.page-btns-container {
  display: flex;
  flex-direction: row; }

.back-btn-container {
  height: 40px; }

.back-btn-container a {
  width: 100px;
  margin-bottom: 20px;
  float: right;
  margin-right: 20vw; }

.list-price a {
  margin-top: 50px;
  margin-right: 20px;
  padding-top: 10px;
  float: right;
  width: 200px;
  height: 40px;
  background-color: #1e6fa8;
  color: white;
  text-align: center; }

.list-price a:hover {
  opacity: 0.6; }

#btn {
  height: 25px;
  width: 160px; }

#btn:hover {
  opacity: 0.6; }

.submit-btn p {
  font-size: 14pt;
  padding-left: 20px; }

.price-calc-detail {
  padding-bottom: 20px; }

.price-calc-detail btn {
  margin-bottom: 20px; }

.searchbox {
  width: 25vw; }

.form-group {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: black; }

.datepicker {
  width: 350px;
  height: 25px;
  text-align: center; }

.drop-down-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row; }

.check-in-box {
  margin-right: 20px; }

.check-out-box {
  margin-right: 20px; }

.select {
  width: 200px;
  height: 40px;
  margin-right: 24px;
  flex: 1; }

.dropdown-menu {
  max-width: 500px!important; }

.main-nav {
  width: 100vw;
  height: 50px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  display: flex;
  flex-direction: row; }

.container-fluid {
  display: flex;
  flex-direction: row; }

.logo {
  width: 150px;
  height: 38px; }

.logo-box {
  padding-left: 20px;
  padding-top: 5px;
  flex: 1; }

.discount-header {
  width: 100vw;
  height: 50px;
  background-color: #37454d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-align: center;
  padding-top: 15px; }

.main-header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0vw;
  margin-top: -200px;
  padding-bottom: 220px;
  text-align: center; }

.sub-header {
  color: white;
  font-family: 'Lato', sans-serif;
  padding-left: 0vw;
  margin-top: -200px;
  padding-bottom: 50px;
  text-align: center; }

.navbar-brand > img {
  width: 150px;
  height: 38px; }

.navbar {
  margin-bottom: 0 !important;
  margin-top: -8px;
  padding-bottom: 10px; }

.features-main {
  width: 100vw;
  height: 70px;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: row; }

.transport-main {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #1e6fa8;
  font-size: 12pt;
  padding-top: 15px;
  flex: 1; }

.planning-main {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #0da633;
  font-size: 12pt;
  padding-top: 15px;
  flex: 1; }

.sightseeing-main {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #c94a30;
  font-size: 12pt;
  padding-top: 15px;
  flex: 1; }

.planning-quote {
  width: 100vw;
  height: 100px;
  margin-bottom: 50px;
  background-color: #c8c8c8; }

.planning-header {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #0da633;
  font-size: 14pt;
  padding-top: 20px; }

.planning-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10pt;
  padding-top: 0px; }

#recommended {
  height: 514px;
  margin-top: 50px;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 0px; }

.recommended-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 4px;
  padding-left: 4px; }

.promo-box {
  width: 374px;
  height: 250px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 14pt;
  font-weight: bold;
  flex: 1; }

.promo-box:hover {
  opacity: 0.7; }

.promo-box p {
  padding-top: 125px; }

.promo-box1 {
  background-image: url("../assets/hotels/heritage.jpg");
  height: 250px;
  width: 374px;
  background-size: contain;
  margin-right: 4px; }

.promo-box2 {
  background-image: url("../assets/hotels/copthorne.jpg");
  height: 250px;
  width: 374px;
  background-size: contain;
  margin-right: 4px; }

.promo-box3 {
  background-image: url("../assets/hotels/heartland.jpg");
  height: 250px;
  width: 374px;
  background-size: contain; }

.promo-box4 {
  background-image: url("../assets/hotels/sofitel.jpg");
  height: 250px;
  width: 374px;
  background-size: contain;
  margin-right: 4px; }

.promo-box5 {
  background-image: url("../assets/hotels/mercure.jpg");
  height: 250px;
  width: 374px;
  background-size: contain;
  margin-right: 4px; }

.promo-box6 {
  background-image: url("../assets/hotels/the-rees.jpg");
  height: 250px;
  width: 374px;
  background-size: contain; }

.info-container {
  width: 100vw;
  height: 250px;
  margin-top: 100px;
  background-color: #37454d;
  display: flex;
  flex-direction: row; }

.info {
  padding-top: 60px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: center;
  flex: 1; }

.included {
  margin-top: 10px;
  color: #0da633; }

.search-list {
  margin-bottom: 100px; }

.results-title {
  flex: 1; }

.results-filter {
  display: flex;
  flex-direction: row; }

.hotel-list {
  margin-bottom: 100px; }

#hotel-list-filter {
  width: 160px;
  height: 25px;
  color: black;
  margin-top: 50px;
  flex: 1; }

.list-item {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row; }

.list-image {
  height: 100%;
  width: 300px; }

.list-image img {
  max-width: 100%;
  max-height: 100%;
  flex: 1; }

.list-info {
  padding-left: 20px;
  flex: 1; }

.list-info h3 {
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #1e6fa8; }

.list-price {
  display: flex;
  flex-direction: column;
  flex: 1; }

.category-list--item:hover {
  opacity: 0.6; }

.category-list--item {
  width: 160px;
  height: 25px;
  color: black;
  margin-right: 20px; }

.page-info {
  display: flex;
  flex-direction: row; }

.page-desc {
  flex: 1; }

.features-details {
  width: 100%;
  height: 120px;
  margin-bottom: 70px;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: row; }

.details1 {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #0da633;
  font-size: 12pt;
  padding-top: 40px;
  flex: 1; }

.details2 {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #c94a30;
  font-size: 12pt;
  padding-top: 40px;
  flex: 1; }

.details3 {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  color: #1e6fa8;
  font-size: 12pt;
  padding-top: 40px;
  flex: 1; }

.options-desc {
  text-align: center;
  border-top: 1px;
  border-style: solid;
  border-color: #37454d;
  padding-top: 30px; }

.category-list--item:focus {
  background:#1e6fa8;
  color: white;
}

.details{
  display: flex;
  flex-direction: row; }

.page-desc{
  width: 100%;
  padding-right: 20%;
  flex: 2 }

.jumbotron{
  height: 350px;
  width: 100%;
  margin-top: 20px;
  padding-right: 80px!important;
  padding-left: 80px!important;
  flex: 1 }

.text-giant { 
  font-size: 20px;
  color: black; }

.form-group{
  padding: 0; }